{% load static %}
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="hero architecture section">

    <title>Red bubble syp | About Us</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="stylesheet" href=" {% static 'css/main.css' %}">
    <link rel="stylesheet" href=" {% static 'css/others.css' %}">



    <link
        href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&amp;display=swap"
        rel="stylesheet">

</head>





<!--include header-->
{% include 'header.html' %}
<!-- end of the header -->

<body class="bg-white dark:bg-gray-900">
    <div id="outside">
        <!-- main container -->
        <div id="popup" class="popup">
            <h2 id="heading">About us !</h2>
            <br>
            <p>Welcome to our website, the ultimate destination for Redbubble artists looking to optimize their search
                rankings and stay on top of the latest trends. Our free service includes Redbubble keyword research and
                trend tracking, so you can always stay ahead of the curve and get your designs in front of the right
                audience.</p>
            <br>
            <p>But that's not all - we also offer a range of paid services to help you take your Redbubble store to the
                next
                level. Whether you need help with bulk t-shirt design for Redbubble and other POD sites, store promotion
                for
                any POD store, or complete A-Z POD store setup, our team of experienced professionals is here to help.
            </p>
            <br>
            <p>Our website has earned a 5-star rating thanks to our commitment to quality and customer satisfaction. We
                pride ourselves on providing fast, reliable service and working closely with our clients to deliver
                results
                that exceed their expectations.</p>
            <br>
            <p>But what sets us apart from the competition? Here are just a few of the qualities that make us the go-to
                choice for Redbubble artists:</p>
            <ul>
                <li>Expertise: Our team has years of experience working in the POD industry, and we stay up-to-date on
                    the
                    latest trends and best practices.</li>
                <br>
                <li>Flexibility: We understand that every Redbubble store is unique, which is why we offer a range of
                    customizable services to meet your specific needs.</li>
                <br>
                <li>Communication: We believe in keeping our clients informed every step of the way, so you can always
                    be
                    confident that your store is in good hands.</li>
                <br>
                <li>Communication: We believe in keeping our clients informed every step of the way, so you can always
                    be
                    confident that your store is in good hands.</li>
            </ul>
            <br>
            <p>Thank you for choosing our website for your Redbubble needs. We look forward to working with you and
                helping
                your store reach its full potential!</p>
            <br>

        </div>
    </div>

    <!--include footer-->
    {% include 'footer.html' %}
    <!-- end of the footer -->

</body>

</html>